html {
    font-size: 62.5%;
    height: 100%;
}
body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
}
.navbar {
    background-color: #03a9f4;
    margin: 1rem 0;
    border-radius: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-heading {
    font-family: 'Bangers', cursive;
    font-size: 10rem;
}
.banner-hr {
    color: #212121;
    width: 50%;
}

.search-form {
    width: 80%;
}
.search-form input {
    width: 90%;
    margin: auto;
    transition: all 0.15s;
}
.search-form input:focus {
    border-color: #03a9f4;
    box-shadow: 0.05rem 0.05rem 0.15rem 0.15rem #03a9f4;
}

.custom-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.5rem;
}


.custom-search .btn {
    width: 40%;
    background-color: #03a9f4;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
}

.job-image{
    width: auto;
    height: 20rem;
}
.main-side{
    width: 90%;
    text-align: center;
    padding: 1rem;
}

.main-side a:link,.main-side a:visited{
    text-decoration: none;
    color: #212121;
}

.active p{
    background-color:#03a9f4;
    color: #fff;
}

.footer{
    background-color:#03a9f4;
    color: #fff;
    padding: 40px;
    margin-top: 20px;
    font-size: small;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: auto;
}

.main .card{
    padding: 0;
}
.main {
    margin-bottom: 3rem;
}

.register-form-group, .login-form-group {
    max-width: 50rem;
    width: 100%;
    margin: 3rem auto;
}
.register-form-group input:not(:last-of-type), .login-form-group input:not(:last-of-type) {
    margin-bottom: 1rem;
}
.register-form-group input[type="submit"], .login-form-group input[type="submit"] {
    width: 70%;
    background-color: #03a9f4;
    color: #fff;
}
.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
    .banner-heading {
        font-size: 5rem;
    }
}

#icon{
    color: black;
}